<html lang="en">

	
	



	<body data-spy= 'scroll' data-target= '.navbar'>
	<script type="text/javascript">		
	$(function(){
		$('.carousel').carousel({
		      interval: 1500
		    });
		$('.carousel-control.right').trigger('click');
		});
	</script>


		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		<!--   <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".barknav">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		 
		  </div> -->
	
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-fixed-top" id="barknav">
		  
				<div class = 'logo'>
					<div class="brand" href="#"> 
						<img src="assets/logo.png">
						<h4><strong> Bushwick Bark </strong> </h4>
						
					</div> 
				</div>

   			
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#titlePage">Home</a></li>

		      <li><a href="#about">About Us</a></li>
		      <li><a href="#brands">Brands</a></li>
		      <li><a href="#dogWash">Dog Wash</a></li>
			  <li><a href="#petFostering">Fostering</a></li>
		      <li><a href="#contactUs">Contact Us</a></li>
		    </ul>
		  </div>
		 
		  
		</nav>


		<div class = 'container' id="titlePage">
		 <!-- <div class= "navbar-inner">
		   <h1> <strong>Bushwick Bark</strong> </h1> 
		  </div>	 -->	
			<div class="title" >
				
				<div id="carouselbark" class="carousel slide" >
				 
					  <ol class="carousel-indicators">
						    <li data-target="#carouselbark" data-slide-to="0" class="active"></li>
						    <li data-target="#carouselbark" data-slide-to="1"></li>
						    <li data-target="#carouselbark" data-slide-to="2"></li>
						    <li data-target="#carouselbark" data-slide-to="3"></li>
						    <li data-target="#carouselbark" data-slide-to="4"></li>
						    </li>
						    <li data-target="#carouselbark" data-slide-to="5"></li>
						    </li>
						    <li data-target="#carouselbark" data-slide-to="6"></li>
					  </ol>

					  <div class="carousel-inner">
					  		<div class="item active">
						      <img src="assets/store.png" class = "img-responsive"/>
						    </div>
						    <div class="item">
						      <img src="assets/Lola.png" class = "img-responsive"/>
						    </div>
						     <div class="item">
						      <img src="assets/Gizimodo.png" class = "img-responsive"/>
						    </div>
						    <div class="item">
						      <img src="assets/Fostering 1.jpg" class = "img-responsive"/>
						    </div>
						    <div class="item">
						      <img src="assets/Grooming 1.jpg" class = "img-responsive"/>
						    </div>
						     <div class="item">
						      <img src="assets/Fostering 2.jpg" class = "img-responsive"/>
						    </div>
						      <div class="item">
						      <img src="assets/Fostering 4.jpg" class = "img-responsive"/>
						    </div>
					  </div>

					  <a class ="carousel-control left" href = "#carouselbark" data-slide ="prev">
					  	<span class ="icon-prev"></span>
					  </a>

					  <a class ="carousel-control right" href = "#carouselbark" data-slide ="next">
					  	<span class ="icon-next"></span>
					  </a>


				</div> 
			</div>
		</div>
  
		
		
	<div class = 'info_background'>

		

				<div class = 'board' id = "about">
			
					
					<div class ='vline'>	
						<h2>About Us</h2>
						<div class= 'hline'></div>
						<p>Bushwick Bark is a Natural Pet Food and Supplies shop located off the Jefferson L train in Bushwick Brooklyn. We carry only top quality organic, natural, holistic and healthy brands of pet food, because we truly love and care about the health and well being of all animals.
						</p>
						<h3>Store Hours</h3>
						<ol id= 'hours'>
							<li> Monday - Friday: 9:00am - 8:00pm </li>
							<li> Saturday: 9:00am - 7:00pm </li>
							<li> Sunday: 10:00am - 8:00pm </li>
						</ol>
					

						
					</div>
				
				</div>
				
				<div  class = 'board' id = "brands">
					<div class ='vline'>	
						<h2>Our Brands</h2>
					<div class= 'hline'></div>
						<p>Acana, Orijen, Merrick, Taste of the Wild, Blue Buffalo, Stella and Chewy, Merrick, Natures Variety, Primal, Bravo, Natural Balance, Newmans Own, Weruva, By Nature, Wellness, AvoDerm, Halo, Natural Choice, Tiki Cat, BFF, Evangers, Canidae, Anamet, Against the Grain, PetCurean NOW!, Hollistic Select, Greenies, Zukes, Buddy Biscuits, Dr. Harveys, Pet Naturals, Grizzly, Get Naked, Kong, Tuffy, Plato, Diamond
						</p>
						<p>Don't have what you're looking for?<a href='#'> We do special orders!</a></p>
					</div>
					
				</div>
				<div class = 'board' id = "dogWash">
				  <div class ='vline'>	
				  	
						<h2>Self Serve Dog Wash</h2>
					<div class= 'hline'></div>
						<p>We offer a Self Serve Dog Wash where you can wash your furry friends using our high quality shampoos and conditioners. Flee problems? We also offer flee shampoos to get rid of those pesky pests.
						</p>

						<p>$1 from every dog wash is donated directly to the <a href = "http://emptycagescollective.com" target="blank">Empty Cages Collective.</a></p>
				  </div>
				</div>
				<div class = 'board' id = "petFostering">
					<div class ='vline'>	
						<h2>Pet Fostering</h2>
					<div class= 'hline'></div>
						<p>We foster pets in partnership with Empty Cages Collective, a New York-based animal and environmental advocacy organization. Learn more about Empty Cages Collective by visiting their <a href = "http://emptycagescollective.com" target="blank">website</a>.
						</p>

						<p>Be sure to stop in to visit our animals for fostering! </p>
					</div>
				</div>
				<div class = 'board' id = "contactUs">
					<div class ='vline'>	
						<h2>Contact Us</h2>
					<div class= 'hline'></div>
						
						<ol id= 'contact'>
							<li> Phone Us: 718-928-7772 </li>
							<li> Email Us: BushwickBark@gmail.com </li>
							<li>Stop By: <a href = "https://maps.google.com/maps?q=175+knickerbocker+ave,+brooklyn,+ny&ie=UTF-8&hq=&hnear=0x89c25c030a62d2fd:0xbb61ac49e321ecbb,175+Knickerbocker+Ave,+Brooklyn,+NY+11237&gl=us&ei=L8qaUurJAsr8oAT1hoKoCA&sqi=2&ved=0CCoQ8gEwAA" target="blank">175 Knickerbocker Ave (near Jefferson Street)</a></li>
						</ol>
						

						<form class="form-horizontal" role="form">
						  
						  <div class="form-group">
						    <label for="inputName" class="col-sm-2 control-label">Name</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" id="inputName">
						    </div>
						  </div>
						  
						  <div class="form-group">
						    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control" id="inputEmail">
						    </div>
						  </div>
						  
						  <div class="form-group">
						    <label for="messageField" class="col-sm-2 control-label">Message</label>
						    <div class="col-sm-10">
						      <textarea type="text" class="form-control" id="messageField" rows="3"></textarea>
						    </div>
						  </div>
						  
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="submit" class="btn btn-default" >Submit Form</button>
						    </div>
						  </div>
						
						</form>
					</div>
				</div>

			</div>
		
	<!-- </div> -->

		<div class = 'navbar navbar-default navbar-fixed-bottom'>
			<div class = 'navbar-inner'>
				<div class="footer">

			    
			    </div>
			</div>

		</div>
	

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>