body { 

 background-position: 0 500px;
 padding-top: 200px;
 /*margin-top: 100px; */
 

}

nav {
	background-color: white;
}

#carouselbark {
	height: 500px;
	width: 100%;
	overflow: hidden;
	margin-top: 5%;
}

h2 {
	font-family: 'Poiret One', cursive;
	font-size: 55px;
	text-align: center;
	/*margin: 50px;*/
}

h3 {
	font-family: 'Poiret One', cursive;
	font-size: 50px;
	text-align: center;
	margin: 35px;

}

h4 {
	font-family: 'Poiret One', cursive;
	font-size: 80px;
	background-color: white;
	margin-left: 150px;

}

li {
	font-family: 'Gudea', sans-serif;
	font-size: 20px;
	

}

label {
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

p {
	font-family: 'Gudea', sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 50px 15px 55px 15px;
	
}

nav li {
	/*padding: 20px;*/
	margin: 0px 10px 30px 10px;
	float: right;
	font-family: 'Gudea', sans-serif;
	font-size: 20px;
	
}

#hours li {
	list-style-type: none;
	text-align: center;
}

#contact{
	padding: 15px;
	margin: 15px;
}

#contact li {
	list-style-type: none;
}

.container {
	margin-bottom: 50px;
	/*background-color: white;*/
}

#contactUs {
	margin-bottom: 500px;
}

.item img {
	width: 100%;
	height: 100%;
	overflow: hidden;

}

.item {
 background-color: white;
}

.board {

	background-color: white;
	margin: 0px 0 50px 0;
	padding: 17% 10% 10% 10%;
	width: 100%;
	display: inline-block;
	overflow: inherit;
}

.logo {
	display: inline-block;
}

.logo img{
	height: 100px;
}

.navbar .brand 
{
	display: inline-block;
	height: 40px;
	padding: 0;
	background: url('/images/logo.png') no-repeat left center;
	float:left;
	position: relative;
}

.vline {
	border-left: 2px solid black;
	
	
}

.navbar .brand h4 {
	left: 15px;
}

.hline {
	border-top: 2px solid black;
}


.main_image img {
	display: block;
	/*background-size: 100%;*/
	margin: 10px;


}

.footer p {
	text-align: center;
	display: inline;
	margin: 1%;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
		.container, .nav, #carouselbark, .carousel-indicators li {
			display: none;

		}

		.board {
			margin: 10px;
			padding: 10px;
		}
	}
@media only screen and (max-width: 818px), only screen and (max-device-width: 818px) {
		.carousel-indicators li {
			display: none;

		}

		.board {
			margin: 5px;
			padding: 0;
		}
	}
