<!DOCTYPE html>
<html>
<head>
  <title>Bushwick Bark</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet"> -->
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
		<title> Bushwick Bark </title>

</head>
	



<body>

<%= yield %>

</body>
</html>
